{% extends 'base.html.twig' %}

{% block title "Créer un compte"%}

{%block body %}

    <h1>Créer un compte</h1>

    {{ form(form)}}

    <a href="/login">Retourner sur la page de connexion</a>
{% endblock %}